*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1F2937;
    color: #4ADF86;
}

#header-div {
    margin-left: 52px;
    width: 460px;
    height: 80px;
}

#header{
    font-family: 'Karla';
    font-size: 40px;
    line-height: 40px;
    margin-top: 115px;
    margin-right: 144px;
    margin-bottom: 10px;
}

.para-gra{
    margin-right: 126px;
    width: 372px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}


span{
    color: #FFFFFF;
}

p{
    color: #D5D4D8;
}


#passwords-words-places{
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-top: 35px;
   border-top: 2px solid #2F3E53;
}


#generate-password-btn{
    margin-top: 51px;
    padding: 9px 17px 9px 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background: #10B981;
    color: white;
    border: none;
    cursor: pointer;
}

#generate-password-btn:hover,
#generate-password-btn:focus{
  background: #065F46;

}

#line{
    width: 446px;
    height: 0px;
    border: 1px solid #2F3E53;
    margin-top: 35px;
    margin-right: 52px;
}

#first-paragraph, 
#second-paragraph {
    padding: 15px 35px;
    background: #273549;
    border-radius: 6px;
    border: none;
    color: #10B981;
    margin-top: 3em;
}



@media (min-width: 500px) {
    body {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    
    #header-div{
        margin-left: unset;
        width: unset;
    }

    #header{
        font-size: 3em;
    }
}